<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="one">
        <input type="text" placeholder="enter new password" id="password"/>
        <button  onclick="submitpassword()">submit</button>

    </div>

    <div class="two">
        password updated successfully
    </div>

    <script>
        let one=document.querySelector(".one")
        let two=document.querySelector(".two")
        two.style.display="none";
        one.style.display="block"
        
        async function submitpassword(){
            let newpassword=document.getElementById('password').value;
            let token="<%=token%>";
            
            console.log("newpassword: ",newpassword);
            console.log("token: ",token);
            let raw=await fetch(`http://localhost:8080/users/resetToken/:${token}`,{
                method:"POST",
                headers:{
                    "content-type":"application/json"
                },
                body:JSON.stringify({password:newpassword})
            })
            let data=await raw.json()
            console.log(data);
            if (data.success){
                two.style.display="block";
                one.style.display="none"
            }


            //let data=fetch()

        }


    </script>
</body>
</html>